<div class="content">
    <div class="content__main">
        <div class="content__town">
            <p>In town</p>
            <img src="../../../../assets/icons/Groupe595.svg" alt="">
        </div>
        <img src="../../../../assets/icons/car.svg" class="img_car" alt="">
        <table>
            <tr>
                <td>Entry</td>
                <td>Exit</td>
            </tr>
            <tr>
                <td><h4>5800</h4></td>
                <td><h4>6200</h4></td>
            </tr>
            <span class="circle"></span>
        </table>
    </div>
    <div class="content__main">
        <div class="content__town">
            <p>In town</p>
            <img src="../../../../assets/icons/Groupe595.svg" alt="">
        </div>
        <img src="../../../../assets/img/Groupe599.svg" class="img_car" alt="">
        <table>
            <tr>
                <td>Entry</td>
                <td>Exit</td>
            </tr>
            <tr>
                <td><h4>5800</h4></td>
                <td><h4>6200</h4></td>
            </tr>
            <span class="circle"></span>
        </table>
    </div>
</div>