<nav class="side-main">
    <div class="logo">
        <img src="/assets/img/Groupe602.png" alt="Logo ministère des transpors">
    </div>
    <h3>MINT</h3>
    <mat-divider></mat-divider>
    <ul>
        <li *ngFor="let menu of menus"
            [routerLink]="menu.routeLink"
            class="background-color-gray color-white pointer"
            routerLinkActive="active">
            <div routeLink="dashboard" class="menu_desc">
                <img [src]="menu.icon" alt="">
                <span class="font-size12">{{menu.name}}</span>
            </div>
            <img [src]="menu.chevron" alt="Menu icon" *ngIf="menu.chevron">
        </li>
    </ul>
</nav>