<div class="side-main">
    <div class="logo">
        <img src="../../../assets/img/Groupe602.png" alt="">
    </div>
    <h3>MINT</h3>
    <mat-divider></mat-divider>
    <ul>
        <li *ngFor="let menu of menus">
            <div routeLink="dashboard" class="menu_desc">
                <img [src]="menu.icon" alt="">
                <a [routerLink]="menu.routeLink">{{menu.name}}</a>
            </div>
            <img [src]="menu.chevron" alt="">
        </li>
    </ul>
    <div class="signature">
        <p>© 2022, CAMTRACK SAS</p>
        <p>Version: 1.0</p>
    </div>
</div>