.mat-toolbar{
    display: flex;
    justify-content: space-between;
    height: auto;
    font-size: 14px;
    font-weight: normal;
    background-color: var(--active-color, #0A7FEB);
    color: #FFFFFF;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 16px;
    padding: 5px 20px;

    .filter_desc{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        p{
            margin: 0;
            color: #FFFFFF;
        }
    }
    img {
        height: 1.5em;
    }
    img.pointer {
        height: 1.2em;
    }
}