.mat-toolbar{
    display: flex;
    justify-content: space-between;
    height: auto;
    font-size: 14px;
    font-weight: normal;
    background-color: #0A7FEB;
    color: #FFFFFF;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    &:last-child{
        padding-bottom: 0;
    }
    &:first-child{
        padding-top: 0;
    }

    .filter_desc{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        p{
            margin: 0;
            color: #FFFFFF;
        }
    }
}