:host{
    padding: 0;
}
.mat-toolbar{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: normal;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--color-white, #FFFFFF);
    color: var(--color-black, #000000);
    &:last-child{
        padding-bottom: 0;
    }
    &:first-child{
        padding-top: 0;
    }

    .content-left{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 55px;
        }
        img.menu-logo {
            height: 35px;
        }
    }

    .content-right{
        display: flex;
        gap: 0.7rem;
        &__info{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.3rem;
            .img-cont{
                position: relative;
                display: flex;
                margin-right: 0.5em;
            }
            .actif{
                position: absolute;
                right: 0;
                bottom: 12px;
                display: block;
                height: 7px;
                width: 7px;
                border-radius: 50%;
                background-color: #078821;
            }
        }
        
        &__info_img{
            width: 3rem;
            height: 3rem;
        }
        &__info_name{
            h6{
                font-size: 14px;
                letter-spacing: 0;
                color: #262C5A;
                letter-spacing: 0;
            }
            div{
                font-size: 12px;
                margin-top: -10px;
                color: #707070;
            }
        }
        &__info_lock{
            display: flex;
            flex-direction: column;
            .more-vertical{
                height: 25px;
                margin-top: -5px;
            }
        }

        &__action{
            display: flex;
        }
    }

    
    
}