<mat-toolbar>
    <div class="content-left">
        <img src="../../../assets/icons/ic-layout-content-left.svg" alt="">
        <img src="../../../assets/img/Groupe600.png" alt="">
        <div [style.color]="'#707070'">
            /Dashboard
        </div>
    </div>
    <div class="content-right">
        <div class="content-right__info">
            <div class="img-cont">
                <img src="../../../assets/img/Groupe568.png"  class="content-right__info_img" alt="">
                <span class="actif"></span>
            </div>
           
            <div class="content-right__info_name">
                <h6>Alan Rositoman</h6>
                <div>Super Admin</div>
            </div>
            <div class="content-right__info_lock">
                <img src="../../../assets/icons/more-vertical.svg" class="more-vertical" alt="">            
                <img src="../../../assets/icons/lock-unlock.svg" alt="">
            </div>
        </div>
        <div class="content-right__action">
            <img src="../../../assets/icons/Composant13.svg" alt="">
            <img src="../../../assets/icons/Composant12.svg" alt="">
        </div>
    </div>
</mat-toolbar>
