
.container{
    height: 100%;
    padding: 0.4rem;
}

.sidenav{
    border-radius: 20px;
    background-color: #000A32;
    background-image: url('../assets/img/sibarebaner@2x.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: fill;
}

.content-main{
    padding-left: 15px;
}