<div class="container">
  <app-widget title="Overview Trip / Passenger">
    <app-overview-passenger></app-overview-passenger>
  </app-widget>
  <app-widget title="Evolution Passenger by Trip">
    <app-evolution-passenger></app-evolution-passenger>
  </app-widget>
  <app-widget title="Entry-Exit passenger In Town / In Transit">
      <app-entry-exit-passenger></app-entry-exit-passenger>
  </app-widget>
  <app-widget title="Evolution Entry-Exit passenger by trip">
    <app-evolution-entry></app-evolution-entry>
  </app-widget>
</div>

