<mat-card>
    <mat-card-header class="background-color-gray color-white">
        <ul class="header-menu">
            <li routerLinkActive="active">
                <a [routerLink]="[{outlets: {
                    dashboard: [ 'overview' ]
                }}]">Overview</a>
            </li>
            <mat-divider [vertical]="false"></mat-divider>
            <li routerLinkActive="active">
                <a [routerLink]="[{outlets: {
                    dashboard: [ 'violation-analysis' ]
                }}]">Violations Analysis /100km</a>
            </li>
            <mat-divider [vertical]="false"></mat-divider>
            <li routerLinkActive="active">
                <a [routerLink]="[{outlets: {
                    dashboard: [ 'trends' ]
                }}]">Trends</a>
            </li>
            <mat-divider [vertical]="false"></mat-divider>
            <li routerLinkActive="active">
                <a [routerLink]="[{outlets: {
                    dashboard: [ 'trip-passenger' ]
                }}]">Trips & Passenger</a>
            </li>
            <mat-divider [vertical]="false"></mat-divider>
        </ul>  
    </mat-card-header>
    <mat-card-content>
        <router-outlet name="dashboard"></router-outlet>
    </mat-card-content>
</mat-card>
